h1 {
    color: purple;
    background-color: black;
    width: 500px;
    height: 250px;
}

p {
    color: red;
    background-color: yellow;
    width: 500px;
    height: 250px;
}

.vg {
    color:green;
    background-color:yellowgreen;
}

.fr {
    color:red;
    background-color:yellow;
}

#one {
    color:purple
}

#two {
    color:brown
}



